<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieApp</title>
    <link href="~/css/bundle.css" rel="stylesheet" />
    
</head>
<body>
    <nav>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center" style="margin-right:150px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z" /><circle cx="12" cy="13" r="4" /></svg>
                    <strong>MovieApp</strong>



                </a>

                 <a class="nav-item nav-link active" style="color:white" href="/">Home <span class="sr-only">(current)</span></a>
                 <a class="nav-item nav-link" style="color:white" href="/Movie/List">Movies</a>
                 <a class="nav-item nav-link" style="color:white" href="/Category/List">Categories</a>
                <div class="navbar-nav">
                   
                </div>

            </div>
           




                @Html.Partial("_SearchBox")


        </div>

            
</nav>

    <div id="main">
        <div class="container">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">
                    @TempData["message"]
                </div>
            }
        </div>
        @RenderBody()

    </div>



    <script src="~/js/site.js"></script>
    @RenderSection("scripts",false)


</body>
</html>
